.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

node_modules/**
!node_modules/@huggingface/**
!node_modules/onnxruntime-web/**
!node_modules/onnxruntime-common/**
!node_modules/onnxruntime-node/**
!node_modules/detect-libc/**
!node_modules/sharp/**
!node_modules/faiss-node/**
!node_modules/semver/**

models
resources/models/**

!src/utils/webview/*.html
!src/utils/webview/*.css
!src/utils/webview/*.js
!dist/**
!resources/** 
!webview-lib/**
!README.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.md